<%- include('header') -%>

<div class="uk-panel uk-panel-box uk-margin">
  <h3 class="uk-panel-title"><%= user %> <%= date%></h3>
  <div class="uk-panel uk-panel-divider"></div>
  <%- text -%>
</div>

<%- include('footer') -%>
